version: '3'
services:
  # ----------------------------------------------------------------------------
  # Database (Postgres)
  # ----------------------------------------------------------------------------
  db:
    image: postgres:12.1-alpine
    volumes:
      - ./db:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "53000:5432"

  # ----------------------------------------------------------------------------
  # Server (NestJS)
  # ----------------------------------------------------------------------------
  server:
    build: ./docker/server
    volumes:
      - ./www/server:/workspace
      - /workspace/node_modules
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db

  # ----------------------------------------------------------------------------
  # Client (VueJS / Vite)
  # ----------------------------------------------------------------------------
  client:
    build: ./docker/client
    volumes:
      - ./www/client:/workspace
      - /workspace/node_modules
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - server
