.action-btn {
	padding: 10px;
	margin: 0 5px 0 5px;
	border-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 10px;
}

.action-btn:hover {
	background-color: darkblue;
	color: white;
}

.action-btn--invalid {
	pointer-events: none;
}

.action-btn--invalid:hover {
	background-color: darkgray;
}
