.window-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	background-color: darkgray;
}

.window-bar__separator {
	visibility: hidden;
}

.window-title {
	align-self: center;
	font-weight: bold;
	font-size: x-large;
}

.window-header > i {
	padding: 5px;
	font-size: large;
	cursor: pointer;
}
